.icon-container {
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
}

.icon-container {
    transition: background-color 0.2s;
    /* Smooth transition */
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .icon-container:hover {
        background-color: #f0f0f0;
        /* Light gray for hover in light mode */
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .icon-container:hover {
        background-color: #1e1e1e;
        /* Dark gray for hover in dark mode */
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}